/* Global Style */

body {
    font-family: 'Fuzzy Bubbles', cursive;
    color: #34568B;
    text-align: center;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgba(56, 247, 151, 0.5), rgba(16, 99, 207, 0.5));
}

/* Heading Style */

.heading {
    text-align: center;
    font-size: 3em;
    color: #4C8577;
}

.intro {
    text-align: center;
    font-size: 1.7em;
}

.logo {
    width: 100px; 
    height: auto;
}

#navigation {
    position: absolute;
    right: 1.6rem;
    top: 0;
    list-style-type: none;
}

#navigation li {
    display: inline;
}

.icon-menu{
    font-size: 2.5rem;
    padding: 0.5rem;
    color: whitesmoke;
    border: none;
    background: none;
    box-shadow: none;
    width: auto;
}

.icon-menu:hover {
    color: #34568B;
}

/* Game layout */

.game-area {
    background-color: #E6E2EC;
    box-sizing: border-box;
    width: 85%;
    min-height: 60vh;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Buttons */

.sign-choice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.choice-btn {
    font-size: 1.8rem;
    margin: 0 25px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    width: 100px;
    font-family: 'Gloria Hallelujah', cursive;
}

.choice-btn > i {
    font-size: 2em;
    border-radius: 50%;
    background-color: white;
    border: 5px solid;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-btn > p {
    margin-top: 0;
    margin-bottom: 0;
}

.choice-btn:focus {
    outline: none;
}

.rock-btn {
    border-color: red;
    color: rgba(255, 0, 0, 0.600);
}

.rock-btn:focus > i,
.rock-btn:hover > i {
    background-color: rgba(255, 0, 0, 0.600);
    color: white;
}

.paper-btn {
    border-color: orange;
    color: rgba(255, 166, 0, 0.600);
}

.paper-btn:focus > i,
.paper-btn:hover > i {
    background-color: rgba(255, 166, 0, 0.600);
    color: white;
}

.scissors-btn {
    border-color: purple;
    color: rgba(128, 0, 128, 0.600);
}

.scissors-btn:focus > i,
.scissors-btn:hover > i {
    background-color: rgba(128, 0, 128, 0.600);
    color: white;
}

.lizard-btn {
    border-color: green;
    color: rgba(0, 128, 0, 0.600);
}

.lizard-btn:focus >i,
.lizard-btn:hover > i {
    background-color: rgba(0, 128, 0, 0.600);
    color: white;
}

.spock-btn {
    border-color: blue;
    color: rgba(0, 0, 255, 0.600);
}

.spock-btn:focus > i,
.spock-btn:hover > i {
    background-color: rgba(0, 0, 255, 0.600);
    color: white;
}

.selected-choice-btn > i {
    border: red solid 10px;
}

.select-btn {
    background-color: #4C8577;
    border: 3px solid;
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 60px;
    font-size: 1.6rem;
    margin: 5px 0 25px;
}

.select-btn:focus {
    outline: none;
}

.select-btn:active,
.select-btn:hover {
    background-color: white;
    color: #4C8577;
    font-weight: 900;
    cursor: pointer;
}

.computer-btn {
    justify-content: center;
    margin: auto;
    color: #34558bab;
}

/* Message area */

#messages {
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    color: ghostwhite;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 50%;
}

#messages > div {
    margin: 0 12px;
}

.close-container {
    position: absolute;
    right: 1rem;
    top: 0;
    padding: 0.3rem !important;
}

.scoreboard-area {
    display: flex;
    justify-content: center;
}

/* Banner for the winner outcome end of game */

.banner-display {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
}

.hidden {
    display: none;
}

.banner-content {
    position: relative;
    background-color: rgb(245, 231, 128);
    text-align: center;
    color: #34558bab;
    margin: 15% auto; 
    padding: 3rem !important;
    border: 3px solid black;
    width: 75%; 
}

#close {
    color: black;
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: none;
}

#close:hover {
    color: white;
    cursor: pointer;
}

/* footer */

footer {
    background-color: rgb(245, 231, 128);
    color: #34568B;
    clear: both;
}

.rock-ftr {
    color: red;
}

.paper-ftr {
    color: orange;
}

.scissors-ftr {
    color: purple
}

.lizard-ftr {
    color: forestgreen;
}

.spock-ftr {
    color: blue;
}

/* Media queries */

@media (max-width: 414px) {
    .icon-menu{
        font-size: 1.5rem;
    }
    
    .logo {
        max-width: 50px;
        height: auto;
    }
    
    .heading {
        font-size: 1.5rem;
    }

    .intro {
        font-size: .9rem;
        float: right;
    }

    #navigation .icon-menu {
        margin: 0;
        padding: 1rem;
    }
    
    .sign-choice {
        width: 100%;
    }

    .choice-btn {
        font-size: 1rem;
        width: 50px;
        padding: 10px 20px;
    }

    .choice-btn > i {
        width: 50px;
        height: 50px;
        font-size: 1.2em;
    }

    .choice-btn > p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .select-btn {
        margin: 0 0 20px;
        font-size: 1.1rem;
        width: 175px;
        height: 40px;
    }

    #messages {
        font-size: 0.7rem;
    }

    .close-window {
        right: 0.5rem;
    }

    footer {
        font-size: 0.8rem;
    }
}