/* Global Style */

body {
    font-family: 'Fuzzy Bubbles', cursive;
    color: #34568B;
    text-align: center;
}

/* Heading Style */

.heading {
    text-align: center;
    font-size: 3em;
    color: #4C8577;
}

.intro {
    text-align: center;
    font-size: 1.7em;
}

.logo {
    width: 100px; 
}

/* Game layout */

.game-area {
    background-color: #E6E2EC;
    box-sizing: border-box;
    width: 85%;
    height: 60vh;
    max-height: 450px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Buttons */

.choice-btn {
    padding-top: 12px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid;
    width: 100px;
    height: 100px;
    font-size: 3.6rem;
    margin: 0 25px;
    transition: 0.5s;
}

.btn:focus {
    outline: none;
}

.choice-btn::after{
    content: attr(data-type);
    width: 220px;
    height: 60px;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    color: #394d83;
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
    text-transform: uppercase;
}

.rock-btn {
    border-color: red;
    color: rgba(255, 0, 0, 0.600);
}

.rock-btn:active,
.rock-btn:hover {
    background-color: rgba(255, 0, 0, 0.600);
    color: white;
}

.paper-btn {
    border-color: orange;
    color: rgba(255, 166, 0, 0.600);
}

.paper-btn:active,
.paper-btn:hover {
    background-color: rgba(255, 166, 0, 0.600);
    color: white;
}

.scissors-btn {
    border-color: purple;
    color: rgba(128, 0, 128, 0.600);
}

.scissors-btn:active,
.scissors-btn:hover {
    background-color: rgba(128, 0, 128, 0.600);
    color: white;
}

.lizard-btn {
    border-color: green;
    color: rgba(0, 128, 0, 0.600);
}

.lizard-btn:active,
.lizard-btn:hover {
    background-color: rgba(0, 128, 0, 0.600);
    color: white;
}

.spock-btn {
    border-color: blue;
    color: rgba(0, 0, 255, 0.600);
}

.spock-btn:active,
.spock-btn:hover {
    background-color: rgba(0, 0, 255, 0.600);
    color: white;
}

.select-btn {
    background-color: #4C8577;
    border: 3px solid;
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 60px;
    font-size: 1.6rem;
    margin: 50px 0 25px;
}

.select-btn:focus {
    outline: none;
}

.select-btn:active,
.select-btn:hover {
    background-color: white;
    color: #4C8577;
    font-weight: 900;
}

/* Message area */

#messages {
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    color: ghostwhite;
    align-items: center;
}

/* footer */

footer {
    background-color: #34558bab;
    color: white;
    clear: both;
}

.rock-ftr {
    color: red;
}

.paper-ftr {
    color: orange;
}

.scissors-ftr {
    color: purple
}

.lizard-ftr {
    color: forestgreen;
}

.spock-ftr {
    color: blue;
}

/* Media queries */

@media (max-width: 414px) {
    .logo {
        max-width: 50px;
        height: auto;
        float: left;
    }
    
    .heading {
        font-size: 1.5rem;
    }

    .intro {
        font-size: .9rem;
        float: right;
    }
    
    .sign-choice {
        width: 100%;
    }

    .choice-btn {
        margin: 15px 10px;
        padding-top: 9px;
        border: 3px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .choice-btn::after {
        font-size: 0.9rem;
        left: -0.5rem;
    }

    .select-btn {
        margin: 30px 0 20px;
        font-size: 1.1rem;
        width: 175px;
        height: 40px;
    }

    #messages {
        font-size: 0.7rem;
    }

    footer {
        font-size: 0.8rem;
    }
}